<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header ">
          Entries
        </div>
        <div class="card-body ">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <th>
                  ID
                </th>
                <th>
                  NAME
                </th>
                <th>
                  LOCATION
                </th>
                <th class="text-right">

                  PRICE
                </th>
              </thead>

              <tbody>

                <tr>
                  <td>
                    001
                  </td>
                  <td>
                    Name_1
                  </td>
                  <td>
                    Colombo
                  </td>
                  <td class="text-right">
                    11,000
                  </td>
                </tr>
                <tr>
                  <td>
                    002
                  </td>
                  <td>
                    Name_2
                  </td>
                  <td>
                    Kandy
                  </td>
                  <td class="text-right">
                    23,789
                  </td>
                </tr>
                <tr>
                  <td>
                    003
                  </td>
                  <td>
                    Name_3
                  </td>
                  <td>
                    Matale
                  </td>
                  <td class="text-right">
                    56,142
                  </td>
                </tr>
                <tr>
                  <td>
                    004
                  </td>
                  <td>
                    SampleName_1
                  </td>
                  <td>
                    Galle
                  </td>
                  <td class="text-right">
                    38,735
                  </td>
                </tr>
                <tr>
                  <td>
                    005
                  </td>
                  <td>
                    Sample_id5
                  </td>
                  <td>
                    Matara
                  </td>
                  <td class="text-right">
                    63,542
                  </td>
                </tr>
                <tr>
                  <td>
                    006
                  </td>
                  <td>
                    Samplelocation
                  </td>
                  <td>
                    Kandy
                  </td>
                  <td class="text-right">
                    78,615
                  </td>
                </tr>
                <tr>
                  <td>
                    006
                  </td>
                  <td>
                    abc
                  </td>
                  <td>
                    Colombo
                  </td>
                  <td class="text-right">
                    98,615
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
